<html>
        <head>
        </head>
        <body>
                We got a request from {{ openid_request.trust_root }} to authenticate you as {{ openid_request.identity }}.<br />
                If you accept this, you will be redirected to {{ openid_request.return_to }}.<br />
                If you press cancel, you will be returned to {{ openid_request.getCancelURL }}.<br />

                <form method="POST">
                        {% if openid_request.trustRootValid %}
                        <input type="checkbox" name="remember" checked="yes" value="yes" /> Remember
                        {% endif %}
                        <input type="submit" name="yes" value="yes" />
                        <input type="submit" name="cancel" value="Cancel" />
                </form>
        </body>
</html>
